:root{
    --dropDownDisplay:none;
}

.header{
    display: block;
    margin:20px;

    height:var(--headerDisplayHeight);
    width:var(--headerDisplayWidth);
    max-width:100%;

    background-color:#353535;
}

#top-highlights{
    display:block;
    margin:auto;
    z-index: 1;

    height:inherit;
    width:inherit;
}

#navigation-bar{
    display:flex;
    justify-content: center;
    align-items:center;

    position:-webkit-sticky;
    position:sticky;
    top:0;
    z-index: 3;

    background-color:#454545;
    color:white;

    height:50px;
    width:inherit;
}

#navigation-bar li{
    display:inline-block;
    font-size:21px;
    text-align:center;
    width:auto;
    margin: 0 10px;
}

#navigation-bar a::after{
    content:'';
    display:block;
    width:inherit;
    height:3px;
    background-color:transparent;
    transition: background-color 0.3s;
    margin:0;
    padding:0;
}

#navigation-bar a:hover{
    cursor:pointer;
}

#navigation-bar a:hover::after{
    background-color:rgb(255, 187, 187);
}

#currentPage::after{
    content:'';
    display: block;
    width:inherit;
    height:3px;
    background-color:rgb(255, 152, 141) !important;
}

#dropDownMenu{
    display:none;  
}


@media screen and (max-width:1200px){
    #navigation-bar li{
        font-size:18px;
    }
}

@media screen and (max-width:1040px){
    #navigation-bar li{
        font-size:16px;
    }
}


@media screen and (max-width:950px){
    #navigation-bar ul{
        display:var(--dropDownDisplay);
        position:absolute;
        top:40px;
        background-color: black;
    }

    #navigation-bar li{
        display:block;
    }

    #dropDownMenu{
        display:block;
    }
}