*{
    box-sizing: border-box;
    margin:0;
    padding:0;

    font-family: 'Noto Sans';
}

body{
    min-width: 800px;
}

:root{
    --startingPosition:0px;
    --headerDisplayWidth:60vw;
    --headerDisplayHeight:45vh;
}

body{
    position:relative;
}

.section-headers span::first-letter{
    text-transform: capitalize;
}

.section-headers hr{
    display:block;
    border:1px black solid;
}

h2.section-headers{
    font-size: 22px;
    margin: 20px 20px 0 20px;
}

#background-div{
    z-index: 0;
    height: 50vh;
    width: 100vw;
    max-width:100%;
    background-color: #353535;
}

#logo{
    display:inline-block;
    background-color: white;
    text-align:center;
    vertical-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif !important;
    line-height:48px;
    font-size:30px;

    min-width:200px;
    width:auto;
    min-height:50px;
    height:auto;
    margin:10px 10px;
    border-radius:50%;
}

#logo:hover{
    cursor: pointer;
}

#main-body{
    position:absolute;
    z-index:1;

    margin:auto;
    margin-bottom:100px;

    width:auto;
    max-width: 100%;
    min-width:520px;
    height:auto;

    top:20vh;
    left:50%;
    transform: translate(-50%,0);

    background-color:#D9D9D9;
}

#bottom-grid-layout{
    /* display:grid;
    grid-template: auto / repeat(2, auto); */
    display:flex;
    width:inherit;
    height:inherit;
    flex-wrap:wrap;
    justify-content: space-around;

    row-gap:80px; 
    column-gap: -20px;
    margin-top:20px;
}

.article-body{
    width:320px;
    height:auto;
    background-color:rgb(205, 205, 205);
    box-shadow:10px 10px 40px rgb(133, 133, 133);
    overflow:hidden;
    border-radius:3px;
}

.article-body:hover .article-image{
    transform:scale(1.03);
}

.article-body:hover .link
{
    opacity: 1;
}

#image-container{
    display:block;
    position:relative;

    width:inherit;
    height:inherit;
}

.article-image{
    display:block;
    width:inherit;
    height:190px;
    object-fit:cover;

    transition:transform 0.4s ease-out;
}

.flex-description
{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.title{
    margin:5px;
    margin-top:20px;
    line-height: 26px;
    text-align:center;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.desctiption{
    margin:5px;
    text-align:center;
    padding-bottom:5vh;
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#link-container{
    position:relative;
    width:inherit;
    height:60px;
}

.link{
    opacity: 0;
    position:absolute;
    bottom:10px;
    left:50%;
    transform: translate(-50%,0);

    padding:10px;
    background-color: rgb(183, 182, 182);
    box-shadow: 0 0 20px black;

    text-align:center;
    text-decoration:none;
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: opacity 0.4s;
}

.link:hover{
    background-color:rgb(141, 140, 140);
    cursor:pointer;
}

#pageFooter{
    width:inherit;
    height:30vh;
    margin-top:70px;
    background-color: #979797;
}

#pageFooter h3{
    text-align: center;
    margin-bottom:30px;
}

#pageFooter p{
    font-weight:bold;
    text-align:center;
}

@media screen and (max-width:1200px){
    .title{
        font-size: 16px;
    }
    .desctiption{
        font-size: 12px;
    }
    .article-body{
        width:270px;
    }
}

@media screen and (max-width:950px){
    #bottom-grid-layout{
        display:grid;
        grid-template:auto/auto;
        gap:50px;
    }
}